<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruidi.mybatis.dao.ServerConfigMapper">
    <select id="selectPassword" resultType="java.lang.String">
        SELECT stringValue FROM server_config WHERE name='password'
    </select>
    <select id="selectLoginEnable" resultType="int">
        SELECT IFNULL(intValue,0) FROM server_config WHERE name='LoginEnable'
    </select>
</mapper>